*{
    margin:0;
    font-family:'Courier New', Courier, monospace;
}

body{
    margin:auto;
    text-align:center;
    background-color:black;
}

h1{
    color:rgb(203, 141, 24);
}

h2{
    color:rgb(203, 141, 24);
}

.top{
    background-color:white;
    width:500px;
    padding:5px;
    margin:auto;
}